<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <link rel="stylesheet" type="text/css" href="/css/unsemantic-grid-responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/input.css">

    <script src="js/inputScript.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
</head>

<body class="font">

<aside class="main">
    <div class="navbar.fixed">
        <nav class="black" id="override">
            <div class="nav-wrapper grid-container">
                <ul>

                    <li><a href="javascript:void(0);">About</a></li>
                    <li><a href="javascript:void(0);">Ingredients</a></li>
                    <li><a href="javascript:void(0);">Recipes</a></li>
                    <li><a href="javascript:void(0);" th:href="@{'/index'}">Home</a> </li>
                </ul>

            </div>
        </nav>
    </div>

</aside>
<!--End of asside -->

<section class="grid-100">
    <header th:if="${recipe.description!=null}" th:text="${'Updating ' + recipe.description}  "> Creating New Recipe</header>
    <header th:if="${recipe.description == null}" th:text="${ 'Creating New Recipe'} "> Creating New Recipe</header>
</section>

<div class="grid-container" id="show_recipe">
    <form th:object="${recipe}" th:action="@{/recipe/}" method="post" >
        <input type="hidden" th:field="*{id}"/>
        <section class="grid-100">
            <header> Recipe Details </header>
            <div class="grid-100 grid-parent" id="box_article">

                <div class="grid-100 grid-parent side form-group">

                    <h5>Recipe Description:</h5>
                    <input type="text" class="form-control" id="recipedescription" th:field="*{description}">

                </div>
                <!--end first row -->
                <div class="grid-100 grid-parent  side" id=" row2">

                    <h5>Categories:</h5>
                    <label>
                        <input type="checkbox" class="filled-in checkbox-orange" checked="checked" />
                        <span>Category 1</span>

                    </label>
                    <label>
                        <input type="checkbox" class="filled-in " checked="checked" />
                        <span>Category 2</span>

                    </label>


                </div>
                <!--end second row -->


                <div class="grid-100 grid-parent row3  sid">
                    <div class=" grid-25 form-group">
                        <label>Preparation Time</label>
                        <input type="text" class=" form-control" th:field="*{prepTime}">
                    </div>

                    <div class=" grid-25 form-group">
                        <label>Cook Time </label>
                        <input type="text" class="form-control" th:field="*{cookTime}">
                    </div>
                    <div class=" grid-25 form-group" >

                        <label>Difficulty</label>
                        <select class="form-control" th:field="*{difficulty}">



                            <option value="" disabled selected>Select Difficulty</option>
                            <option th:each="difficultyValue : ${T(com.chukanwobi.recipeapp.domain.Difficulty).values()}"
                                    th:value="${difficultyValue.name()}"
                                    th:text="${#strings.toLowerCase(difficultyValue.name())}"
                            >val</option>

                        </select>

                    </div>
                </div>

                <!--end third row -->
                <div class="grid-100 grid-parent row3  sid">
                    <div class=" grid-25 form-group">
                        <label>Source</label>
                        <input type="text" class=" form-control" th:field="*{source}">
                    </div>

                    <div class=" grid-25 form-group">
                        <label>Servings </label>
                        <input type="text" class="form-control" th:field="*{servings}">
                    </div>
                    <div class=" grid-25 form-group">
                        <label>Url </label>
                        <input type="text" class="form-control" th:field="*{url}">
                    </div>
                </div>

                <!--end of fourth row -->
            </div>
            <!---end .box_article-->



        </section>

        <section class="grid-100">
            <header>
                Ingredients
                <button class="btn btn-light">Edit
                </button>
            </header>
            <div class="grid-100 " id="box_article">
                <ul >
                    <li>
                        1. cup of rice</li>
                    <li>
                        2. Cups of beans</li>
                </ul>

            </div>

        </section>
        <!--end of section 2-->

        <section class="grid-100 notes">
            <header>
                Notes

            </header>
            <div class="grid-100 form-group" id="box_article">
                <div class="input-field">

                    <textarea id="textarea1" class="form-control"  rows="4" th:field="*{notes.recipeNotes}"></textarea>

                </div>
            </div>

        </section>

        <!--end of section three-->
        <button type="submit" class="btn " id="btn-special">Submit</button>
    </form>



</div>

</body>

</html>
