

.black{
    color: white;
    background: black
}



.side h5{
    margin: 0;
}

input[type = text]:focus{



}

input[type = text], select{
    font-family: inherit;
    border: 2px solid #dadada;
    border-radius: 7px;
    height: 32px;
    width: 100%;
}

#box_article{
    padding: 3%;}

.notes #box_article{
    padding: 1%
}
.row2{
    margin: 2%
}

textarea{
    font-family: inherit;
    border: 2px solid #dadada;
    border-radius: 7px;
    width: 100%;

}
.row3 label{
    display: block;

}

.side{
    margin-bottom: 2%;
}
#recipedescription{
    display: inline-block;
}
.btn{
    float: right;
    line-height: .7rem;
    margin: 0;
    font-size: .8rem;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;

}
#btn-special {
    display: block;
    line-height: 65%;
    width: 21%;
    height: 45px;
    margin-bottom: 3%;
    color: white;
    background: black;
    margin-right: 40%;
}


#box_article ul{
    margin-left: 0;
    padding-left: 0;
}
#add-new{
    float: right !important;
    margin-top: 2% !important;
    margin-right: 40%;
    color:white;
    text-decoration-style: solid;
    background-color: black;
padding:1%;
    border-radius: 5px;
    width: 21%;
    height: 45px;
    padding-left: 6%;
}

