body{
    font-family: 'Raleway', sans-serif;
}
section header{
    font-size: 250%;
    text-align: center;
    padding: 1.5%;
}






aside.main {
    width: inherit;
    background: #e4e4e4;

}

nav ul li{
    float: left ;
    list-style-type: none;
    padding-bottom: 1.2%;
    padding-top: 1.2%;
    padding-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: red;
}

table {
    width: 100%;
}
table a {
    color: inherit;
}

th,
td {
    text-align: left;
    padding: 0.4%;
}
#override div ul li{
    float: right;
}
#show_recipe section {
    margin-bottom: 2rem;

}
#show_recipe section header{
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    padding: inherit;
    font-size: 100%;
    text-align:left;
    padding-top: .5%;
    background-color: black;
    color: white;
    clear:both;
    height: 2rem;
    font-weight: bolder;

}
#box_article{

    border: 0.5px solid black;

}

#box_article .categories{
    padding-top: 1rem;
}

#box_article ul:not(.browser-default) li {

    list-style:initial;
    list-style-position: inside;
    padding: auto;
    padding-top: 0;

}
#categories ul{
    display: inline-grid;
}
#box_article h5{
    font-size: 1.2rem;
    display: inline-block;
    font-weight:600;
    margin-bottom: auto;


}

#box_article ol{
    margin: auto;
    padding:1rem ;
}