<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Recipes</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <link rel="stylesheet" type="text/css" href="/webjars/unsemantic/1.1.3/assets/stylesheets/unsemantic-grid-responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

</head>

<body >



<aside class="main">
    <div class="navbar.fixed">
        <nav class="black" id="override">
            <div class="nav-wrapper grid-container">
                <ul>

                    <li><a href="javascript:void(0);">About</a></li>
                    <li><a href="javascript:void(0);">Ingredients</a></li>
                    <li><a href="javascript:void(0);">Recipes</a></li>
                    <li><a href="javascript:void(0);">Home</a> </li>
                </ul>

            </div>
        </nav>
    </div>

</aside>
<!-- end aside.main -->
<section class="content grid-container">
    <header class="masthead"> Recipes
    </header>
    <!-- end header.masthead -->
    <article>
        <table class="highlight responsive-table">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Preparation Time</th>
                <th>Difficulty</th>
                <th>Details </th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="recipe:${recipes}">
                <td th:text="${recipe.id}"></td>
                <td th:text="${recipe.description}"> Tasting goodness</td>
                <td th:text="${recipe.prepTime + ' minutes'}">25 seconds</td>
                <td th:if="${recipe.difficulty !=null}" th:text="${#strings.capitalize(recipe.difficulty.name().toLowerCase())}">Null Difficulty</td>
                <td th:if="${recipe.difficulty ==null}"  th:text="${'Null difficulty'}"}></td>
                <td><a href="#" th:href="@{'/recipe/'+${recipe.id}+'/show/'}" th:text="${'View Details'}">View Details</a> </td>
                <td><a th:href="@{'/recipe/'+${recipe.id}+'/update/'}" th:text="${'Update'}"></a></td>
                <td><a th:href="@{'/recipe/'+${recipe.id}+'/delete/'}" th:text="${'Delete'}"></a></td>


            </tr>

        </table>
    </article>
    <!-- end article -->
</section>
<!-- end section.content -->

<!-- end .container -->

</body>

<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</html>
